[Unit]
Description=v2-ui node Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/v2-node/v2-node
Restart=Always

[Install]
WantedBy=multi-user.target