{% extends 'v2ray/base.html' %}
{% block title %}{{ _('customers') }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .ant-card {
            margin-bottom: 20px;
        }

        div[class*=ant-col] {
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block body %}

    <a-layout id="app" v-cloak>
        {% include 'v2ray/common_sider.html' %}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-spin :spinning="spinning" :delay="500" tip="{{ _('loading') }}">
                    <transition name="list" appear>
                        <a-card hoverable style="margin-bottom: 20px;">
                            <div slot="title">
                                <a-button type="primary" icon="plus" @click="openAddCustomer"></a-button>
                            </div>
                            <a-row>
                                <a-input v-model="searchKey" placeholder="{{ _('search') }}" autofocus></a-input>
                            </a-row>
                            <a-row type="flex" justify="start" align="middle">
                                <a-col :xs="6" :sm="6" :lg="3">
                                    {{ _('total customers') }}：
                                    <a-tag color="green">[[ customers.length ]]</a-tag>
                                </a-col>
                                <a-col :xs="6" :sm="6" :lg="3">
                                    {{ _('expired customers') }}：
                                    <a-tag color="red">[[ expiredCustomers.length ]]</a-tag>
                                </a-col>
                                <a-col :xs="6" :sm="6" :lg="2">
                                    <a-checkbox :checked="unexpiredChecked" @change="unexpiredChanged">
                                        {{ _('unexpired') }}
                                    </a-checkbox >
                                </a-col>
                                <a-col :xs="6" :sm="6" :lg="2">
                                    <a-checkbox :checked="expiredChecked" @change="expiredChanged">
                                        {{ _('expired') }}
                                    </a-checkbox>
                                </a-col>
                            </a-row>
                        </a-card>
                    </transition>
                    <a-card v-if="customers.length === 0">
                        {{ _('No account, please add an account first') }}
                    </a-card>
                    <transition-group tag="div" name="list">
                        <a-card v-for="customer in searchedCustomers" :key="customer.identifier" hoverable style="float:left">
                            <div slot="title">
                                <a-tag class="hidden-sm-and-down" color="green">vmess</a-tag>
                                <a-button type="primary" icon="qrcode"
                                          @click="qrModal.show(
                                                    '{{ _('qrcode') }}',
                                                    customer,
                                                    '{{ _('copy link') }}')"></a-button>
                                <a-button type="primary" icon="money-collect" @click="openRenewCustomer(customer)"></a-button>
                                <a-button icon="edit" @click="openEditCustomer(customer)"></a-button>
                                <a-button style="float: right;" type="danger" icon="delete" @click="delCustomer(customer)"></a-button>
                            </div>
                            <div>
                                <a-row>
                                    <a-col class="hidden-md-and-up" :xs="24" :sm="24" :lg="12">
                                        {{ _('protocol') }}：
                                        <a-tag color="green">vmess</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="16">
                                        {{ _('identifier') }}：
                                        <a-tag color="blue">[[ empDefault(customer.identifier, '{{ _('none') }}') ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="8">
                                        {{ _('enable') }}：
                                        <a-tag v-if="customer.enable" color="green">{{ _('yes') }}</a-tag>
                                        <a-tag v-else color="red">{{ _('no') }}</a-tag>
                                    </a-col>
                                </a-row>
                            </div>
                        </a-card>
                    </transition-group>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                ip: location.hostname,
                spinning: false,
                unexpiredChecked: true,
                expiredChecked: true,
                inbounds: [],
                customers: [],
                unexpiredCustomers: [],
                expiredCustomers: [],
                searchedCustomers: [],
                searchKey: '',
            },
            methods: {
                loading(spinning=true) {
                    this.spinning = spinning;
                },
                empDefault(o, defaultValue='') {return isEmpty(o) ? defaultValue : o},
                getCustomers() {
                    this.loading();
                    get({
                        url: '/v2ray/customers/data',
                        success: data => {
                            this.setCustomers(data);
                            this.loading(false);
                        },
                        error: () => this.loading(false)
                    });
                },
                unexpiredChanged(e){
                    this.unexpiredChecked = e.target.checked;
                    this.searchCustomers(this.searchKey);
                },
                expiredChanged(e){
                    this.expiredChecked = e.target.checked;
                    this.searchCustomers(this.searchKey);
                },
                checkBox(customers){
                    if (this.unexpiredChecked && this.expiredChecked) // both checked, show all customers
                        this.searchedCustomers = customers;
                    else{
                        let checkedCustomers = [];
                        if (this.unexpiredChecked){ // only unexpired checked, show unexpired only
                            checkedCustomers = customers.filter(customer => {
                                return customer.enable;
                            });
                        }
                        if (this.expiredChecked){ // only expired checked, show expired only
                            checkedCustomers = customers.filter(customer => {
                                return !customer.enable;
                            });
                        }
                        this.searchedCustomers = checkedCustomers;
                    }
                },
                setCustomers(customers) {
                    this.customers = customers.map(customer => {
                        customer.enable = (new Date(Date.now())).getTime() < getDateFromStr(customer.endDate);
                        return Customer.fromJson(customer);
                    }).reverse();
                    this.unexpiredCustomers = this.customers.filter(customer => {
                                return customer.enable;
                            });
                    this.expiredCustomers = this.customers.filter(customer => {
                                return !customer.enable;
                            });
                    this.searchCustomers(this.searchKey);
                },
                searchCustomers(key) {
                    if (isEmpty(key)) {
                        this.searchedCustomers = this.customers.slice();
                    } else {
                        this.searchedCustomers.splice(0, this.searchedCustomers.length);
                        this.customers.forEach(customer => {
                            if (deepSearch(customer, key)) {
                                this.searchedCustomers.push(customer);
                            }
                        });
                    }
                    this.checkBox(this.searchedCustomers);
                },
                openAddCustomer() {
                    inModal.show({
                        title: '{{ _('add customer') }}',
                        okText: '{{ _('add') }}',
                        confirm: () => {
                            inModal.loading();
                            this.addCustomer(inModal.customer, () => inModal.closeLoading());
                        }
                    });
                },
                openEditCustomer(customer) {
                    inModal.show({
                        title: '{{ _('update customer') }}',
                        okText: '{{ _('update') }}',
                        customer: customer,
                        confirm: () => {
                            inModal.loading();
                            inModal.customer.uuid = customer.uuid;
                            this.updateCustomer(inModal.customer, () => inModal.closeLoading());
                        }
                    });
                },
                openRenewCustomer(customer) {
                    reModal.show({
                        title: '{{ _('renew customer') }}',
                        okText: '{{ _('renew') }}',
                        customer: customer,
                        confirm: () => {
                            reModal.loading();
                            reModal.customer.uuid = customer.uuid;
                            this.renewCustomer(reModal.customer, () => reModal.closeLoading());
                        }
                    });
                },
                renewCustomer(customer, callback){
                    let data = {
                        uuid: customer.uuid,
                        startDate: renew.moStartDate,
                        endDate: renew.moEndDate,
                        duration: renew.total_duration,
                    };
                    this.submit('/v2ray/customer/update/' + customer.uuid, data, reModal, callback, callback);
                },
                addCustomer(customer, callback) {
                    let data = {
                        identifier: customer.identifier,
                        uuid: customer.uuid,
                        alterId: customer.alterId,
                        creator: customer.creator,
                        duration: customer.duration,
                        startDate: customer.startDate,
                        endDate: customer.endDate
                    };
                    this.submit('/v2ray/customer/add', data, inModal, callback, callback);
                },
                updateCustomer(customer, callback) {
                    let data = {
                        identifier: customer.identifier,
                        uuid: customer.uuid,
                        alterId: customer.alterId,
                        creator: customer.creator,
                        startDate: customer.startDate,
                        endDate: customer.endDate
                    };
                    this.submit('/v2ray/customer/update/' + customer.uuid, data, inModal, callback, callback);
                },
                delCustomer(customer) {
                    this.$confirm({
                        title: '{{ _('delete customer') }}',
                        content: '{{ _('Cannot be restored after deletion, confirm deletion?') }}',
                        okText: '{{ _('delete') }}',
                        cancelText: '{{ _('cancel') }}',
                        onOk: () => this.submit('/v2ray/customer/del/' + customer.uuid)
                    });
                },
                submit(url, data, modal, success, error) {
                    post({
                        url: url,
                        data: data,
                        success: data => {
                            if (data.success) {
                                this.getCustomers();
                                if (modal) {
                                    modal.close();
                                }
                            }
                            execute(success, data);
                        },
                        error: error,
                    });
                },
            },
            watch: {
                searchKey(value) {
                    this.searchCustomers(value);
                }
            },
            mounted() {
                this.setCustomers({{ customers | safe }});
            },
        });

    </script>
    {% include 'v2ray/customer_modal.html' %}
    {% include 'common/text_modal.html' %}
    {% include 'common/qrcode_modal.html' %}
    {% include 'common/prompt_modal.html' %}
{% endblock %}