{% extends 'v2ray/base.html' %}
{% block title %}{{ _('accounts') }}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .ant-card {
            margin-bottom: 20px;
        }

        div[class*=ant-col] {
            margin-top: 10px;
        }
    </style>
{% endblock %}
{% block body %}

    <a-layout id="app" v-cloak>
        {% include 'v2ray/common_sider.html' %}
        <a-layout id="content-layout">
            <a-layout-content>
                <a-spin :spinning="spinning" :delay="500" tip="{{ _('loading') }}">
                    <transition name="list" appear>
                        <a-card hoverable style="margin-bottom: 20px;">
                            <div slot="title">
                                <a-button type="primary" icon="plus" @click="openAddCustomer"></a-button>
                            </div>
                            <a-row>
                                <a-input v-model="searchKey" placeholder="{{ _('search') }}" autofocus></a-input>
                            </a-row>
                            <a-row>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    {{ _('online') }} / {{ _('offline') }}：
                                    <a-tag color="green">{{ 100 }} / {{ 200 }}</a-tag>
                                </a-col>
                                <a-col :xs="24" :sm="24" :lg="12">
                                    {{ _('total customers') }}：
                                    <a-tag color="green">{{ 300 }}</a-tag>
                                </a-col>
                            </a-row>
                        </a-card>
                    </transition>
                    <a-card v-if="customers.length === 0">
                        {{ _('No account, please add an account first') }}
                    </a-card>
                    <transition-group tag="div" name="list">
                        <a-card v-for="customer in searchedCustomers" :key="customer.identifier" hoverable style="width: 20%; float:left">
                            <div slot="title">
                                <a-tag class="hidden-sm-and-down" color="green">vmess</a-tag>
                                <a-button type="primary" icon="qrcode"
                                          @click="qrModal.show(
                                                    '{{ _('qrcode') }}',
                                                    '',
                                                    '{{ _('copy link') }}')"></a-button>
                                <a-button icon="edit" @click="openEditCustomer(customer)"></a-button>
                                <a-button style="float: right;" type="danger" icon="delete" @click="delCustomer(customer)"></a-button>
                            </div>
                            <div>
                                <a-row>
                                    <a-col class="hidden-md-and-up" :xs="24" :sm="24" :lg="12">
                                        {{ _('protocol') }}：
                                        <a-tag color="green">vmess</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        {{ _('remark') }}：
                                        <a-tag color="blue">[[ empDefault(customer.identifier, '{{ _('none') }}') ]]</a-tag>
                                    </a-col>
                                    <a-col :xs="24" :sm="24" :lg="12">
                                        {{ _('enable') }}：
                                        <a-popconfirm :title="customer.enable ? '{{ _('Whether to disable') }}' : '{{ _('Whether to enable') }}'"
                                                      @confirm="setEnable(customer, !customer.enable)"
                                                      ok-text="{{ _('yes') }}" cancel-text="{{ _('no') }}">
                                            <a-tag v-if="customer.enable" color="green">{{ _('yes') }}</a-tag>
                                            <a-tag v-else color="red">{{ _('no') }}</a-tag>
                                        </a-popconfirm>
                                    </a-col>
                                </a-row>
                            </div>
                        </a-card>
                    </transition-group>
                </a-spin>
            </a-layout-content>
        </a-layout>
    </a-layout>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>

        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                ip: location.hostname,
                spinning: false,
                inbounds: [],
                customers: [],
                searchedCustomers: [],
                searchKey: '',
            },
            methods: {
                loading(spinning=true) {
                    this.spinning = spinning;
                },
                empDefault(o, defaultValue='') {return isEmpty(o) ? defaultValue : o},
                getCustomers() {
                    this.loading();
                    get({
                        url: '/v2ray/customers/data',
                        success: data => {
                            this.setCustomers(data);
                            this.loading(false);
                        },
                        error: () => this.loading(false)
                    });
                },
                setCustomers(customers) {
                    this.customers = customers.map(customer => {
                        customer.enable = customer.endDate
                        return Customer.fromJson(customer);
                    }).reverse();
                    this.searchCustomers(this.searchKey);
                },
                searchCustomers(key) {
                    if (isEmpty(key)) {
                        this.searchedCustomers = this.customers.slice();
                    } else {
                        this.searchedCustomers.splice(0, this.searchedCustomers.length);
                        this.customers.forEach(customer => {
                            if (deepSearch(customer, key)) {
                                this.searchedCustomers.push(customer);
                            }
                        });
                    }
                },
                openAddCustomer() {
                    inModal.show({
                        title: '{{ _('add customer') }}',
                        okText: '{{ _('add') }}',
                        confirm: () => {
                            inModal.loading();
                            this.addCustomer(inModal.customer, () => inModal.closeLoading());
                        }
                    });
                },
                openEditCustomer(customer) {
                    inModal.show({
                        title: '{{ _('update customer') }}',
                        okText: '{{ _('update') }}',
                        customer: customer,
                        confirm: () => {
                            inModal.loading();
                            inModal.customer.uuid = customer.uuid;
                            this.updateCustomer(inModal.customer, () => inModal.closeLoading());
                        }
                    });
                },
                addCustomer(customer, callback) {
                    let data = {
                        identifier: customer.identifier,
                        uuid: customer.uuid,
                        alterId: customer.alterId,
                        creator: customer.creator,
                        duration: customer.duration,
                        startDate: customer.startDate,
                        endDate: customer.endDate
                    };
                    this.submit('/v2ray/customer/add', data, inModal, callback, callback);
                },
                updateCustomer(customer, callback) {
                    let data = {
                        identifier: customer.identifier,
                        uuid: customer.uuid,
                        alterId: customer.alterId,
                        creator: customer.creator,
                        startDate: customer.startDate,
                        endDate: customer.endDate
                    };
                    this.submit('/v2ray/customer/update/' + customer.uuid, data, inModal, callback, callback);
                },
                delCustomer(customer) {
                    this.$confirm({
                        title: '{{ _('delete customer') }}',
                        content: '{{ _('Cannot be restored after deletion, confirm deletion?') }}',
                        okText: '{{ _('delete') }}',
                        cancelText: '{{ _('cancel') }}',
                        onOk: () => this.submit('/v2ray/customer/del/' + customer.uuid)
                    });
                },
                resetTraffic(inbound) {
                    this.submit('/v2ray/reset_traffic/' + inbound.id);
                },
                resetAllTraffic() {
                    this.submit('/v2ray/reset_all_traffic');
                },
                setEnable(inbound, enable) {
                    let data = {enable: enable};
                    this.submit('/v2ray/inbound/update/' + inbound.id, data);
                },
                submit(url, data, modal, success, error) {
                    post({
                        url: url,
                        data: data,
                        success: data => {
                            if (data.success) {
                                this.getCustomers();
                                if (modal) {
                                    modal.close();
                                }
                            }
                            execute(success, data);
                        },
                        error: error,
                    });
                },
            },
            watch: {
                searchKey(value) {
                    this.searchCustomers(value);
                }
            },
            mounted() {
                this.setCustomers({{ customers | safe }});
            },
        });

    </script>
    {% include 'v2ray/customer_modal.html' %}
    {% include 'common/text_modal.html' %}
    {% include 'common/qrcode_modal.html' %}
    {% include 'common/prompt_modal.html' %}
{% endblock %}