<a-modal id="qrcode-modal" v-model="qrModal.visible" :title="qrModal.title"
         :closable="true" width="400px" :ok-text="qrModal.okText"
         cancel-text="{{ _('close') }}" :ok-button-props="{attrs:{id:'qr-modal-ok-btn'}}">
    <a-tabs defaultActiveKey="1" type="card">
        <a-tab-pane v-for="svr in servers" :tab="svr.remark" :key="svr.id">
{#        <canvas id="qrCode" style="width: 100%; height: 100%;"></canvas>#}
            <a-tabs @change="callback">
                <a-tab-pane v-for="inb in inbounds" :tab="inb.port" :key="inb.id">
                    [[ svr.address ]]:
                    [[ inb.port ]]
                </a-tab-pane>
            </a-tabs>
        </a-tab-pane>
    </a-tabs>
</a-modal>

<script>

    const qrModal = {
        title: '',
        customer: null,
        okText: '',
        qrcode: null,
        clipboard: null,
        visible: false,
        show: function (title='', customer=null, okText='{{ _('copy') }}') {
            this.title = title;
            this.customer = customer;
            this.okText = okText;
            this.visible = true;
            qrModalApp.$nextTick(() => {
                if (this.clipboard === null) {
                    this.clipboard = new ClipboardJS('#qr-modal-ok-btn', {
                        text: () => this.content,
                    });
                    this.clipboard.on('success', () => app.$message.success('{{ _('copied') }}'));
                }
                if (this.qrcode === null) {
                    this.qrcode = new QRious({
                        element: document.querySelector('#qrCode'),
                        size: 260,
                        value: content,
                    });
                } else {
                    this.qrcode.value = content;
                }
            });
        },
        close: function () {
            this.visible = false;
        },
    };

    const qrModalApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#qrcode-modal',
        data: {
            qrModal: qrModal,
            servers: {{ servers | safe }},
            inbounds: {{ inbounds | safe }}
        },
        methods: {
            callback: function (activeKey) {
            }
        },
    });

</script>