<a-modal id="qrcode-modal" v-model="qrModal.visible" :title="qrModal.title"
         :closable="true" width="400px" :ok-text="qrModal.okText"
         cancel-text="{{ _('close') }}" :ok-button-props="{attrs:{id:'qr-modal-ok-btn'}}">
    <a-row>
        <a-col :span="8">
            <a-select style="width: 100%" v-model="qrModal.selectedSvr" placeholder="{{ _('server') }}">
                <a-select-option v-for="svr in servers" :value="svr.id">
                    [[ svr.remark ]]
                </a-select-option>
            </a-select>
        </a-col>
        <a-col :span="8">
            <a-select style="width: 100%" v-model="qrModal.selectedInb" placeholder="{{ _('port') }}">
                <a-select-option v-for="inb in inbounds" :value="inb.id">
                    [[ inb.port ]]
                </a-select-option>
            </a-select>
        </a-col>
        <a-col :span="6" style="float: right">
            <a-button type="primary" @click="drawQrCode(1111)">{{ _('generate') }}</a-button>
        </a-col>
    </a-row>
    <a-row>
        <canvas id="qrCode" style="width: 100%; height: 100%;"></canvas>
    </a-row>
</a-modal>

<script>

    const qrModal = {
        title: '',
        selectedSvr: "",
        selectedInb: "",
        customer: null,
        content: "",
        okText: '',
        qrcode: null,
        clipboard: null,
        visible: false,
        show: function (title='', customer=null, okText='{{ _('copy') }}') {
            this.title = title;
            this.customer = customer;
            this.okText = okText;
            this.visible = true;
            qrModalApp.$nextTick(() => {
                if (this.clipboard === null) {
                    this.clipboard = new ClipboardJS('#qr-modal-ok-btn', {
                        text: () => this.content,
                    });
                    this.clipboard.on('success', () => app.$message.success('{{ _('copied') }}'));
                }
            });
        },
        close: function () {
            this.visible = false;
        },
    };

    const qrModalApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#qrcode-modal',
        data: {
            qrModal: qrModal,
            servers: {{ servers | default("''") | safe }},
            inbounds: {{ inbounds | safe }},
        },
        methods: {
            drawQrCode: function () {
                let sel_svr = null;
                let sel_inb = null;
                for (let svr in this.servers){
                    if (this.servers[svr].id === this.qrModal.selectedSvr)
                        {
                            sel_svr = this.servers[svr];
                            break;
                        }
                }
                for (let inb in this.inbounds){
                    if (this.inbounds[inb].id === this.qrModal.selectedInb)
                        {
                            sel_inb = this.inbounds[inb];
                            sel_inb.streamSettings = sel_inb.stream_settings;
                            break;
                        }
                }
                console.log(sel_svr.address);
                console.log(sel_inb.port);
                console.log(this.qrModal.customer.identifier);
                let content = genVmessLink(sel_svr, sel_inb, this.qrModal.customer);
                qrModal.content = content;
                if (qrModal.qrcode === null) {
                    qrModal.qrcode = new QRious({
                        element: document.querySelector('#qrCode'),
                        size: 260,
                        value: content,
                    });
                } else {
                    qrModal.qrcode.value = content;
                }
            }
        },
    });

</script>